@use '../helpers' as *;

.button {
    display: inline-flex;
    justify-content: center;
    padding: rem(16) rem(16);
    font-size: rem(16);
    font-weight: 700;
    color: var(--color-dark);
    white-space: nowrap;
    background-color: #f2f2f2;
    border: none;
    border-radius: rem(25);

    @include laptop {
        padding: rem(12) rem(12);
        font-size: rem(14);
    }

    @include hover {
        background-color: #d3d3d3;
    }
}