@use '../helpers' as *;

html {
    &.is-dark-theme {
        body {
            background-color: var(--color-dark);
            color: var(--color-light);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--color-light);
        }

        .button {
            background-color: #141b24;
            color: var(--color-light);

            @include hover {
                background-color: #11161e;
                color: var(--color-accent);
            }
        }

        .header__switch-theme {
            filter: brightness(0) invert(1);
        }

        .burger-button__line {
            background-color: var(--color-light);
        }
    }
}